<!DOCTYPE HTML>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0 user-scalable=no">
	<link rel='stylesheet' type='text/css' href='/static/about.css'>
	<title>healthware.register</title>
</head>

<body>

	<header class="navbox">
		<nav>
			<div class="logo"><a href="/">Healthware</a></div>
			<div class='FAQ'> About Us </div>	

		</nav>
	</header>
	<section class='description'>
		<p>Founded through the hard work and dedication of five students. 
		A large overhaul of traditional systems, replaced with much more cooperative ones 
		putting power in the hands of the clients. The system is meant to provide a 
		different approach to purchasing plans and giving feedback. 
		See more when you <a href=' # '>sign up</a>!</p>

	</section>


</body>
</html>