<!DOCTYPE HTML>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, height=device-height initial-scale=1.0 user-scalable=no">
	<link rel='stylesheet' type='text/css' href='/static/FAQs.css'>
	<title>healthware.register</title>
</head>

<body>

	<header class="navbox">
		<nav>
			<div class="logo"><a href="../index.html">Healthware</a></div>
			<div class='FAQ'> Frequently Asked Questions</div>	

		</nav>
	</header>
	<section>
		<div class='answers'>
		<p>Q. - How many plans do you offer?</p>
		<p>A. - Multiple. Head over to <a href='#'>plans</a> to check them out.</p>
		</div class='answers'>
		<div>
		<p>Q. - How does the payment system work?</p>
		<p>A. - Payments are contractual and should be between you and the provider. <a href='#'>Log in</a> for more!</p>
		</div class='answers'>
		<div>
		<p>Q. - How can I get a new ID card? ?</p>
		<p>A. - If you need a duplicate or additional ID card, <a href='#'>log in</a> please.</p>
		</div class='answers'>
		<div>
		<p>Q. - How do I change my name or address?</p>
		<p>A. - Give changes of name/address to the employer through which you have Healthware coverage</p>
		</div class='answers'> 

	</section>


</body>
</html>
